{% extends '@ezdesign/content_variable/layout.html.twig' %}
{% set show_left_sidebar = true %}

{% trans_default_domain "content_variables" %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="px-0 pb-4 ez-content-container">
            <div class="ez-header">
                <div class="container">
                    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
                        { value: 'path.root'|trans, url: path('content_variables.collection.list') },
                        { value: 'path.bulk_edit'|trans }
                    ]} %}
                    {% include '@ezdesign/content_variable/parts/page_title.html.twig' with {
                        title: 'title.bulk_edit'|trans,
                        iconsFile: 'bundles/ezplatformcontentvariables/img/icons.svg',
                        iconName: 'edit-bulk',
                    } %}
                </div>
            </div>

            <section class="container mt-4 px-5">
                {% if collections|length > 0 %}
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {% for collection in collections %}
                        {% set hasVariables = collection.contentVariables|length > 0 %}
                        {% set isCollapsed = collection.id in collapsed_collections.ids %}
                        <div class="ez-table-header">
                            <div class="ez-table-header__headline">{{ collection.name }}</div>
                            {% if collection.description %}
                                <div class="c-no-items">{{ collection.description }}</div>
                            {% endif %}
                            <div>
                                {% include '@ezdesign/content_variable/buttons/collapse.html.twig' with {
                                    'containerId': 'content-variables-bulk-edit-' ~ collection.id,
                                    'isCollapsed': isCollapsed,
                                    'cookieVariable': collapsed_collections.cookie_var,
                                    'cookieSeparator': collapsed_collections.cookie_separator,
                                    'itemId': collection.id,
                                } %}
                            </div>
                        </div>
                        <div id="content-variables-bulk-edit-{{ collection.id }}" class="{{ isCollapsed ? 'collapse' : 'show' }}">
                            {% if hasVariables %}
                                <table class="ez-table table mb-0">
                                    <thead>
                                        <tr>
                                            <th>{{ 'variable.name'|trans }}</th>
                                            <th>{{ 'variable.placeholder'|trans }}</th>
                                            <th>{{ 'variable.value'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for variable in collection.contentVariables %}
                                        <tr class="content-variable-block">
                                            <td class="ez-table__cell">{{ variable.name }}</td>
                                            <td class="ez-table__cell">{{ variable.placeholder }}</td>
                                            <td class="ez-table__cell">
                                                <div{% if not variable.isStatic %} hidden="hidden"{% endif %}>
                                                    {{ form_widget(form.valueStatic[variable.id], {
                                                        'attr': {'class': 'form-control content-variable-value-static'}
                                                    }) }}
                                                </div>
                                                {% if form.valueCallback is defined %}
                                                    <div{% if variable.isStatic %} hidden="hidden"{% endif %}>
                                                        {{ form_widget(form.valueCallback[variable.id], {
                                                            'attr': {'class': 'form-control content-variable-value-callback'}
                                                        }) }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="ez-table-no-content mb-0">{{ 'variable.no_items'|trans }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button id="variables-update" type="submit" hidden />
                    {{ form_end(form) }}
                {% else %}
                    <p class="ez-table-no-content">{{ 'bulk_edit.no_items'|trans({'%link_start%' : '<a href="'~path('content_variables.collection.new')~'">', '%link_end%' : '</a>'})|raw }}</p>
                {% endif %}
            </section>
        </div>

        <div class="ez-context-menu">
            <div class="ez-sticky-container">
                {% set sidebar_right = knp_menu_get('content_variables.menu.bulk_edit.sidebar_right', [], {}) %}
                {{ knp_menu_render(sidebar_right, {
                    'template': '@ezdesign/ui/menu/sidebar_right.html.twig'
                }) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('ezplatform-content-variables-bulk-edit-css', null, 'ezplatform') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-content-variables-bulk-edit-js', null, 'ezplatform') }}
{% endblock %}