{% extends '@ezdesign/content_variable/layout.html.twig' %}
{% set show_left_sidebar = true %}

{% trans_default_domain "content_variables" %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="px-0 pb-4 ez-content-container">
            <div class="ez-header">
                <div class="container">
                    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
                        { value: 'path.root'|trans, url: path('content_variables.collection.list') },
                        { value: collection.name }
                    ]} %}
                    {% include '@ezdesign/ui/page_title.html.twig' with {
                        title: collection.name,
                        iconName: 'keyword'
                    } %}
                </div>
            </div>

            {% set form_id = 'variables_bulk_actions' %}
            <section class="container mt-4 px-5">
                <div class="ez-table-header">
                    <div class="ez-table-header__headline">{{ 'title.variables'|trans }}</div>
                    <div>
                        {% include '@ezdesign/content_variable/buttons/new.html.twig' with {
                            'title': 'variables.new'|trans,
                            'href': path('content_variables.new', {'id': collection.id}),
                        } %}
                        {% if variables|length > 0 %}
                            {% include '@ezdesign/content_variable/buttons/update_priority.html.twig' with {
                                'title': 'variable.update_priority'|trans,
                                'id': 'update-priority-variables',
                                'form_id': form_id,
                                'action': 'updatePriority',
                            } %}
                            {% include '@ezdesign/content_variable/buttons/delete.html.twig' with {
                                'title': 'variable.delete'|trans,
                                'id': 'delete-variables',
                                'form_id': form_id,
                                'action': 'delete',
                                'modal_data_target': 'delete-variables-modal',
                                'message': 'variable.delete.modal.message'|trans,
                            } %}
                        {% endif %}
                    </div>
                </div>

                {% if variables|length > 0 %}
                    {{ form_start(form, {
                        'attr': {
                            'class': 'ez-toggle-btn-state',
                            'data-toggle-button-id': '#delete-variables',
                            'id': form_id
                        }
                    }) }}
                    <table class="ez-table table mb-3">
                        <thead>
                            <tr>
                                <th class="ez-table__cell--has-checkbox"><input type="checkbox" /></th>
                                <th>{{ 'variable.name'|trans }}</th>
                                <th>{{ 'variable.identifier'|trans }}</th>
                                <th>{{ 'variable.priority'|trans }}</th>
                                <th>{{ 'variable.content'|trans }}</th>
                                <th>{{ 'variable.value'|trans }}</th>
                                <th/>
                            </tr>
                        </thead>
                        <tbody>
                        {% for variable in variables %}
                            <tr>
                                <td class="ez-table__cell ez-table__cell--has-checkbox">
                                    {{ form_widget(form.selectedId[variable.id], {"disabled": not variable.canBeDeleted}) }}
                                </td>
                                <td class="ez-table__cell">{{ variable.name }}</td>
                                <td class="ez-table__cell">{{ variable.identifier }}</td>
                                <td class="ez-table__cell">
                                    <div class="c-table-view-item__inner-wrapper--input">
                                        {{ form_widget(form.priority[variable.id], {
                                            'attr': {'class': 'form-control content-variable-priority-value'}
                                        }) }}
                                    </div>
                                </td>
                                <td class="ez-table__cell">
                                    <a href="{{ path('content_variables.linked_content', {'id': variable.id}) }}">{{ variable.getLinkedContentCount }}</a>
                                </td>
                                <td class="ez-table__cell">
                                    {% if variable.isStatic %}
                                        {{ variable.valueStatic }}
                                    {% else %}
                                        {{ 'variable.value.callback'|trans({'%callback%': variable.valueCallback}) }}
                                    {% endif %}
                                </td>
                                <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                                    {% include '@ezdesign/content_variable/buttons/linked_content.html.twig' with {
                                        'title': 'variable.content'|trans,
                                        'href': path('content_variables.linked_content', {'id': variable.id}),
                                    } %}
                                    {% include '@ezdesign/content_variable/buttons/edit.html.twig' with {
                                        'title': 'variable.edit'|trans({'%name%': variable.name|u.truncate(50) }),
                                        'href': path('content_variables.edit', {'id': variable.id}),
                                    } %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ form_end(form) }}
                    <div class="row justify-content-center align-items-center mb-2">
                        <span class="ez-pagination__text">
                            {{ 'pagination.viewing'|trans({
                                '%viewing%': pager.currentPageResults|length,
                                '%total%': pager.nbResults}, 'pagination')|raw }}
                        </span>
                    </div>
                    {% if pager.haveToPaginate %}
                        <div class="row justify-content-center align-items-center ez-pagination__btn mb-5">
                            {{ pagerfanta(pager, 'ez') }}
                        </div>
                    {% endif %}
                {% else %}
                    <p class="ez-table-no-content">{{ 'variable.no_items'|trans }}</p>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-content-variables-variables-list-js', null, 'ezplatform') }}
{% endblock %}