<button
    id="{{ id }}"
    type="button"
    class="btn btn-icon update-bulk-action"
    disabled
    data-toggle="modal"
    data-target="#{{ modal_data_target }}"
    data-form="#{{ form_id }}"
    data-action-element="#{{ form_id }}_action"
    data-action="{{ action }}"
    title="{{ title }}"
>
    <svg class="ez-icon ez-icon-trash">
        <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"/>
    </svg>
</button>
{% include '@ezdesign/ui/modal/bulk_delete_confirmation.html.twig' with {
    'id': modal_data_target,
    'message': message,
    'data_click': '#' ~ form_id ~ '_do_action',
} %}